/* shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png') !important;
    background-repeat: no-repeat;
    background-position: bottom right 0;
    background-size: 650px;

}

/* Nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 15px 35px;
}

.button-primarys {
    width: 140px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.banner {
    padding: 30px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.image-masud {
    width: 484px;
    height: 676px;
    flex-shrink: 0;
}

.banner-gretting {
    font-size: 35px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 60px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner-content {
    max-width: 500px;
}

.banner-desc {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

/* Main section Style */
.about {
    
    /* padding: 130px 100px 100px 100px; */
    border-radius: 20px;
    background: #FFF8F3;
    margin:130px;
}
.section-title{
    color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
line-height: normal;
}
.section-desc{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}