/* shared style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png') !important;
    background-repeat: no-repeat;
    background-position: bottom right 0;
    background-size: 651px;

}

/* Nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.button-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding: 15px 35px;
}

.button-primarys {
    width: 140px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}


.banner {
    padding: 30px 100px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.image-masud {
    width: 484px;
    height: 676px;
    flex-shrink: 0;
}

.banner-gretting {
    font-size: 35px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title {
    font-size: 60px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner-content {
    max-width: 500px;
}

.banner-desc {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

/* Main section Style */
.about {

    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    background: #FFF8F3;
    margin: 130px;

}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}

.section-desc {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;

}

.about-info-container {
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
}

.about-info {
    text-align: center;
}

.info-description {
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.whatido {
    /* text-align: center; */
    padding: 30px 150px;
    /* margin: 200px; */

}

/* what I do related style */

#what-id-do-desc {

    padding: 10px 190px;
    color: var(--dark-03, #757575);
    text-align: center;
    /* font-family: Open Sans; */

}

.skill-container {
    display: flex;
    /* margin-right: 130px; */
    gap: 24px;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    background: white;
    margin: 50px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-description {
    color: var(--dark-03, #757575);
    /* font-family: Open Sans; */
    font-size: 16px;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 28px; */
}


/* Resume Style */
.resume-column-title {
    color: #474747;
    /* font-family: Open Sans; */
    font-size: 30px;
    /* font-style: normal; */
    font-weight: 700;
    /* line-height: normal; */

}
.resume-container{
    display: flex;
    padding: 50px 50px 50px 50px;
    margin: 50px;
    

}

.resume-item-title{
    color: var(--dark-02, #474747);
/* font-family: Open Sans; */
font-size: 25px;
/* font-style: normal; */
font-weight: 700;
/* line-height: normal; */

}

.resume-item-institure{
    color: var(--dark-03, #757575);
/* font-family: Open Sans; */
font-size: 20px;
/* font-style: normal; */
font-weight: 600;
/* line-height: normal; */

}

.resume-item-description{
    color: var(--dark-03, #757575);
/* font-family: Open Sans; */
font-size: 16px;
/* font-style: normal; */
font-weight: 400;
/* line-height: 28px; */

}